body {
  font-family: Arial;
  margin: 0;
  background: #ff4f8b;
  color: white;
}

nav {
  background: #ff2e7a;
  padding: 10px;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  text-align: center;
}

.card {
  background: white;
  color: black;
  padding: 15px;
  margin: 15px;
  border-radius: 12px;
}

.row {
  display: flex;
  justify-content: center;
}

button {
  background: #ff2e7a;
  color: white;
  border: none;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
}

input {
  display: block;
  margin: 5px 0;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.club-box {
  background: white;
  color: black;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  color: black;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

input {
  margin: 5px;
}
