body {
  font-family: Arial;
  background: #ff4f8b;
  color: white;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  gap: 15px;
  padding: 10px;
  background: #ff2e7a;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  text-align: center;
}

.card {
  background: white;
  color: black;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
}

button {
  background: #ff2e7a;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: center;
}

input {
  padding: 8px;
  margin: 5px;
}
