body {
  font-family: Arial;
  margin: 0;
  background: #ff4f8b;
  color: white;
}

h1 {
  text-align: center;
}

.card {
  background: white;
  color: black;
  margin: 15px;
  padding: 15px;
  border-radius: 12px;
}

.club-box {
  background: white;
  color: black;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
}

button {
  background: #ff2e7a;
  color: white;
  border: none;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
}
